.departures {
    margin-top: 5rem;
}

.departure-options {
    margin-top: 5rem;
}

.by-route, .by-stop {
    padding: 0.9rem 5rem;
    background: #6a9814;
    color: #fff !important;
    font-size: 2.375rem;
    font-weight: 900;
    cursor: pointer;
}

.selected-opt {
    background-color: #006532;
    border-color: #006532;
    outline: 0;
}

.selected-opt::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid #006532;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 26.5rem;
}

.by-route.selected-opt::after {
    left: 42.5%;
}

.by-stop.selected-opt::after {
    left: 56.5%;
}